html {
  font-size: 16px;
}

body {
  background-color: $c--primary--lighter;
  font-size: 1rem;
  font-family: "Mulish", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 365;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.page {
  background-color: $c--primary--lightest;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header {
  background-color: $c--primary--dark;
}

main {
}

footer {
  background-color: $c--primary--dark;
}

.section-outer {
  padding: 1rem 2rem;
}

.section-inner {
  margin: 0 auto;
  max-width: 1100px;

  @include breakpoint(400px) {
    background-color: rgba($c--white, 0.25);
  }

  @include breakpoint(800px) {
    background-color: rgba($c--white, 0.5);
  }

  @include breakpoint(1200px) {
    background-color: rgba($c--white, 0.75);
  }
}
